# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# Virtual Environment

# Log files
*.log

# Data & Results
backup/
cluster/
datasets/
*.npy
*.npz
*.pt
*.zip
*.txt
*.png

# Temporary files
*.tmp
*.swp
*.bak

# IDE / Editor
.vscode/
.idea/
